body {
			font-family: 'Work Sans', sans-serif;
			background-color: #f4f4f4;
			margin: 0;
			padding: 0;
		}

		.container {
			background-color: #fff;
			border-radius: 5px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			padding: 20px;
			max-width: 600px;
			margin: auto;
		}

		h2,
		h3 {
			text-align: center;
		}

		label {
			display: block;
			margin-bottom: 5px;
		}

		.image-button {
			display: inline-block;
			width: 177px;
			height: 100px;
			margin-right: 10px;
			background-size: cover;
			border: none;
			cursor: pointer;
			border-radius: 5px;
		}

		.image-button.selected {
			border: 5px solid #007bff;
		}

		input[type="text"],
		button {
			width: 100%;
			padding: 10px;
			margin-bottom: 15px;
			border: 1px solid #ccc;
			border-radius: 3px;
			box-sizing: border-box;
		}

		button {
			background-color: #777;
			color: #fff;
			cursor: pointer;
		}

		button:hover {
			background-color: #888;
		}

		canvas {
			display: block;
			margin: 20px auto;
			max-width: 100%;
			/* Que no sobrepase el contenedor */
			height: auto;
			/* Altura proporcional */
			box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
			border-radius: 4px;
		}

		#download-link {
			display: block;
			text-align: center;
			margin-top: 10px;
		}